/* === IMPORT FONTS (Merienda One & Nunito ====*/
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');
/* =========================================== */
:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --transition-2: .2s linear;
}
/* =========================================== */
*::selection {
    background-color: var(--main-color);
    color: var(--white);
}
::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}
-webkit-scrollbar-track {
    background-color: transparent;
}
-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
/* =========================================== */
* {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body {
    background-color: #eee;
    color: var(--black);
    font-size: 1.4rem;
    line-height: 2;
}
a {color: inherit;}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    background-color: var(--main-color);
    color: var(--black);
    cursor: pointer;
    transition: all var(--transition-2);
}
.btn:hover {
    background-color: var(--black);
    color: var(--white);
}
.section-title {
    font-family: 'Merienda One', cursive;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.section-text {
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 3rem;
    color: var(--light-color);
}
.heading {
    text-align: center;
    margin-bottom: 4rem;
}
.heading__image {
    height: 3rem;
}
.heading__title {
    height: 3rem;
    font-size: 3rem;
}
.round-bg {
    display: block;
    text-align: center;
    line-height: 2.6;
    margin: auto;
    width: 3.5rem; height: 3.5rem;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 50%;
    margin-bottom: 1.5rem;
}
.box-container {
    display: grid;
    align-items: flex-start;
    justify-content: center;
}
.box {
    text-align: center;
}
.box-title {
    font-size: 2rem;
    margin-bottom: .5rem;
}
.box-text {
    display: block;
    color: var(--light-color);
}

/* === HEADER SECTION ========================== */
.header {
    position: sticky;
    top: 0; left: 0; right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 100;
}
.header__flex {
    position: relative;
    padding: 1.5rem 1rem;
}
.logo__img {
    height: 4.5rem;
}
.navbar__link {
    font-size: 2rem;
    margin-left: 2rem;
}
.navbar__link:hover {
    text-decoration: underline;
    color: var(--main-color);
}
#menu-btn {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}
/* === HOME SECTION ======================= */
.home-bg {
    background: linear-gradient(90deg, var(--white), transparent 70%), url(../images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home {
    height: 100vh;
}
.home__content {
    width: 50rem;
    text-align: center;
}
.home__title {
    font-size: 6rem;
}
.home__text {
    color: var(--black);
}

/* === ABOUT SECTION ======================= */
.about {
    flex-wrap: wrap;
    gap: 4rem;
}
.about__image {
    flex: 1 1 40rem;
}
.about__image img {
    width: 100%;
}
.about__content {
    flex: 1 1 40rem;
}
.about__title {
    margin-bottom: 2rem;
}
.about__text {
    margin-bottom: 3rem;
}

/* === FACILITY SECTION ====================================== */
.facility__container {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2.5rem;
}
.facility__image {
    height: 10rem;
    margin-bottom: 1rem;
}

/* === MENU SECTION ============================================ */
.menu__container {
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    gap: 3rem;
}
.menu__image {
    height: 100%;
    margin-bottom: 1rem;
}

/* === GALLERY SECTION ========================================= */
.gallery__container {
    grid-template-columns: repeat(auto-fit, 36rem);
    gap: 1.5rem;
}
.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* === TEAM SECTION ============================================ */
.team__container {
    grid-template-columns: repeat(auto-fit, 36rem);
    gap: 1.5rem;
}
.team__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team__title {
    margin-bottom: 1rem;
}

/* === CONTACTS SECTION ========================================= */
.contacts {
    gap: 2rem;
}
.contacts__heading {
    margin-bottom: -5rem;
}
.contacts__image {
    flex: 1 1 50rem;
}
.section__img {
    width: 100%;
}
.contacts__content {
    flex: 1 1 30rem;
}
.contacts__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.contacts__form {
    border: var(--border);
    text-align: center;
    padding: 2rem;
}
.input-box {
    display: block;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem;
    border: var(--border);
}
.contacts__btn {
    align-items: center;
}

/* === FOOTER SECTION ===================================== */
.footer__container {
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 1rem;
    border-bottom: var(--border);
}
.footer__title {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1rem;
}
.footer__text {
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.6;
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.footer__link {
    color: var(--main-color);
}
.css-prove {
    padding: 1rem 0;
}

/* === MEDIA QUERIES ========================================= */
@media (max-width: 992px) {
    html {
        font-size: 55%;
    }
    .home-bg {
        background-position: left;
    }
}
@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times {
        transform: rotate(180deg);
    }
    .navbar {
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .navbar__link {
        display: block;
        margin: 2rem;
        text-align: center;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .content {
        justify-content: center;
        text-align: center;
    }
    .section-title {
        font-size: 3rem;
    }
    .home__title {
        font-size: 4rem;
    }
}
